<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tedy Fazrin</title>
</head>

<body>

    <h1>page NIM 3</h1>
    <ul>
        <li><a href="/"> Home</a></li>
        <li><a href="nim1.html"> NIM 1</a></li>
        <li><a href="nim2.html"> NIM 2</a></li>
    </ul>



    <table border="1">
        <tr>
            <td>Nama</td>
            <td>Tedy Fazrin</td>
        </tr>
        <tr>
            <td>Nim</td>
            <td>1922420870</td>
        </tr>
        <tr>
            <td> Semester</td>
            <td> 3</td>
        </tr>
        <tr>
            <td> No Hp</td>
            <td>081380713411</td>
        </tr>
    </table>

</body>

</html>